@import 'tailwindcss';

::view-transition-group {
  contain: layout;
}

::view-transition-old(::view-transition-group) {
  animation: fadeOut 0.3s ease-in;
}

::view-transition-new(::view-transition-group) {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
